$title-font: 'Shrikhand', cursive;
$main-font: 'Roboto', sans-serif;
$primary-color: #9356dc;
$secondary-color: #ff79dA;
$tertiary-color: #99e2d0;
$background-color-light: #f6f6f6;
$background-color-mid: #eaeaea;
$background-color-dark: #353535;
$complementary-color-1: #008766;
$complementary-color-2: #89c8fa;
$complementary-color-3: #003a68;