// Variables

$title-font: 'Shrikhand', cursive;
$main-font: 'Raleway', sans-serif;
$primary-color: #9356dc;
$secondary-color: #ff79dA;
$tertiary-color: #99e2d0;
$background-color-light: #f6f6f6;
$background-color-mid: #eaeaea;
$background-color-dark: #353535;

// Base

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: $main-font;
}

p {
    font-size: 1rem;
}
    
ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.button {
    &--primary {
        font-size: 1rem;
        margin: 2rem 0;
        border: none;
        border-radius: 1.5rem;
        padding: 0.8rem 1.2rem;
        color: #fff;
        font-weight: 500;
        background: linear-gradient(360deg, $primary-color 0%, $secondary-color 100%);
        box-shadow: 0 0.25rem 0.8rem rgba(0, 0, 0, 0.25);
    }
}

// Header

header {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 12rem;
    }
}

// Main

main {
    h1, h2 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.location {
    height: 3.5rem;
    background-color: $background-color-mid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    p {
        font-weight: 500;
    }
}

.introduction {
    padding: 3rem 1.2rem;
    background-color: $background-color-light;
    text-align: center;
}

.tutorial {
    padding: 3rem 1rem;
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    &__step {
        padding: 2rem 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1.5rem;
        background-color: $background-color-light;
        border-radius: 1.5rem;
        box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
            i {
                font-size: 1.5rem;
            }
            p {
                font-weight: 500;
            }
    }
}

.restaurants {
    padding: 3rem 1rem;
    background-color: $background-color-light;
    &__cards {
        display: flex;
    }
    .card {
        width: 100%;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.10);
        &__image {
            height: 10rem;
            width: 100%;
            object-fit: cover;
        }
        &__body {
            padding: 1rem;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
        // &__text {

        // }
        // &__title {

        // }
        // &__subtitle {
            
        // }
        &__heart {
            font-size: 10rem;
        }
        }
    }
}

// Footer

footer {
    background-color: $background-color-dark;
    color: #fff;
    padding: 1.5rem 1rem;
    h4 {
        margin-bottom: 1rem;
        font-family: $title-font;
        font-size: 1.2rem;
    } 
}