// Variables

$title-font: 'Shrikhand', cursive;
$main-font: 'Roboto', sans-serif;
$primary-color: #9356dc;
$secondary-color: #ff79dA;
$tertiary-color: #99e2d0;
$background-color-light: #f6f6f6;
$background-color-mid: #eaeaea;
$background-color-dark: #353535;
$complementary-color-1: #008766;
$complementary-color-2: #89c8fa;
$complementary-color-3: #003a68;

// Base

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: $main-font;
}

p {
    font-size: 1rem;
}
    
ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.button {
    &--primary {
        font-family: $main-font;
        font-size: 1rem;
        margin: 2rem 0;
        border: none;
        border-radius: 1.5rem;
        padding: 0.8rem 1.2rem;
        color: #fff;
        font-weight: 500;
        background: linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%);
        box-shadow: 0 0.25rem 0.8rem rgba(0, 0, 0, 0.25);
        transition: all 0.5s ease-in-out;
        &:hover {
            // background: linear-gradient(200deg, $primary-color -5.2%, $secondary-color 110.74%);
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        }
    }
}

// Header

header {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        display: flex;
        align-items: center;
    }
    img {
        width: 12rem;
    }
}

// Main

main {
    h1, h2 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.location {
    height: 3.5rem;
    background-color: $background-color-mid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    p {
        font-weight: 500;
    }
}

.introduction {
    padding: 3rem 1.2rem;
    background-color: $background-color-light;
    text-align: center;
    @media only screen and (min-width: 1024px) {
        padding: 3rem calc((100vw - 1024px) / 2);
    }
}

.tutorial {
    padding: 3rem 1rem;
    @media only screen and (min-width: 1024px) {
        padding: 3rem calc((100vw - 1024px) / 2);
    }
    &__steps {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        @media only screen and (min-width: 1024px) {
            flex-direction: row;
        }
    }
    &__step {
        padding: 2rem 0;
        width: calc(100% - 0.75rem);
        position: relative;
        right: -0.75rem;
        background-color: $background-color-light;
        border-radius: 1.5rem;
        box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
        @media only screen and (min-width: 1024px) {
            width: 30%;
        }
    }
    &__step-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 1.5rem;
        position: relative;
        left: -0.75rem;
        span {
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1rem;
            font-weight: 500;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            border-radius: 50%;
            background-color: $primary-color;
        }
        i {
            font-size: 1.5rem;
            color: #7e7e7e;
        }
        p {
            font-weight: 500;
        }
    }
}

.restaurants {
    padding: 3rem 1rem;
    background-color: $background-color-light;
    @media only screen and (min-width: 1024px) {
        padding: 3rem calc((100vw - 1024px) / 2);
    }
    &__cards {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        @media only screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 2rem;
            column-gap: 2rem;
            justify-content: space-between;
        }
    }
    .card {
        width: 100%;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.10);
        position: relative;
        a {
            color: #000;
        }
        @media only screen and (min-width: 768px) {
            width: calc(50% - 2rem);
        }
        &__label {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background-color: $tertiary-color;
            color: $complementary-color-1;
            font-weight: 500;
            padding: 0.3rem 0.5rem;
            border-radius: 0.2rem;
            box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
        }
        &__image {
            height: 10rem;
            width: 100%;
            object-fit: cover;
        }
        &__body {
            padding: 1rem;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__text {
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
        }
        &__title {
            font-weight: 700;
        }
        &__subtitle {
            font-weight: 300;
        }
        &__heart {
            font-size: 1.5rem;
        }
    }
}

// Footer

footer {
    display: flex;
    flex-direction: column;
    background-color: $background-color-dark;
    color: #fff;
    padding: 1.5rem 1rem;
    h4 {
        margin-bottom: 1rem;
        font-family: $title-font;
        font-size: 1.2rem;
    } 
    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        margin-bottom: 0.5rem;
    }
    a {
        color: #fff;
    }
    i {
        width: 2rem; 
    }
    @media only screen and (min-width: 900px) {
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: baseline;
        gap: 4rem;
        ul {
            flex-direction: row;
            gap: 2rem;
        }
    }
}

